<div class="jumbotron">
  <div class="container">
    <h1>What do you love?</h1>
    <p class="lead">Do more of it with Codaisseurup</p>
    <% if !current_user %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
</div>

<section>
  <div class="container text-center">
    <h1>Upcoming events</h1>
    <p class="lead">Upcoming Meetups nearby</p>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <% @events.each do |event| %>
      <div class="col-md-4">
        <h2><%= event.name %></h2>
        <p><%= event.description %></p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>
      <% end %>
    </div>

    <hr>

  </div>
</section>

<div class="container text-center">
  <h1>Find an event</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <heading class="text-center">
      <h2>Explore</h2>
      <p>Have a look at all the different Categories!</p>
    </heading>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

</div>
